<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  
    <main class="px-3" align="center">
      <h1>Elias Martin Alvarez</h1>
      <img src="../../../assets/Profile.png" width="300" height="300">
      <p class="lead">Student at UTN</p>
      <p>Registry ID: 107.212</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
      <button type="submit" class="btn btn-primary"  (click)="UserInfo()">Show Current User Info</button>
    </main>
  </div>