<div align="center">
  
    <main class="px-3" align="center">
      <h1>Elias Martin Alvarez</h1>
      <img src="../../../assets/Profile.png" width="300" height="300">
      <p class="lead">Student at UTN</p>
      <p>Age: 26 years old</p>
      <p>Contact E-mail: elias.m.alvarez@gmail.com</p>
      <p>Registry ID: 107.212</p>
      <h4>Tiles - Manual</h4>
      <p>Chose between 3 levels or a randomly generated grid.
        Then press switch to change the pattern of the tiles between a circle and a cross.
        You win when all the tiles show a circle.
        How many moves will you need!?
      </p>
      <p>Elige entre 3 niveles o una tabla generada al azar.
        Luego presiona Switch para cambiar el patron de circulo a cruz y viceversa.
        Ganas cuando todos los paneles muestren un circulo.
        Cuantos movimientos necesitaras para ganar!?
      </p>

    </main>
  </div>