<div class="right">
    <h1 align="center">TIC TAC TOE</h1>
    <div class="container-out">
        <div class="container-in">
        <div class="table-container">
            <h6>Player {{playerNumber}} ( <span id="player">{{player}}</span> ) your turn</h6>
            <table align="center">
            <tr>
                <td><div class="box" (click)="play('1')" id="1"></div></td>
                <td><div class="box" (click)="play('2')" id="2"></div></td>
                <td><div class="box" (click)="play('3')" id="3"></div></td>
            </tr>
            <tr>
                <td><div class="box" (click)="play('4')" id="4"></div></td>
                <td><div class="box" (click)="play('5')" id="5"></div></td>
                <td><div class="box" (click)="play('6')" id="6"></div></td>
            </tr>
            <tr>
                <td><div class="box" (click)="play('7')" id="7"></div></td>
                <td><div class="box" (click)="play('8')" id="8"></div></td>
                <td><div class="box" (click)="play('9')" id="9"></div></td>
            </tr>
            </table>
    
            <h2 id="message">Player <span id="winner"></span> Wins</h2>
            <button id="reset" (click)="reset()">Reset</button>
            <button (click)="saveHighScore()">Save my Scores</button>
        </div>
        </div>
        <div align="center">
            <h3>SCORES</h3>
            <h6 class="scoreH" >P1 won matches: {{userWonMatches}} ---
                Draw matches: {{drawMatches}} ---
                P1 lost matches: {{pcWonMatches}} ---
                Total matches: {{timesPlayed}}
            </h6>
            <h6 class="scoreH" >Win ratio for Player 1: {{winRatio}}% ---
                Draw ratio for Player 1: {{drawRatio}}% ---
                Lose ratio for Player 1: {{loseRatio}}%
            </h6>
        </div>
    </div>
</div>
<br>
<div class="right">
<app-chat [path]="gamePath"></app-chat>
<br>
<app-chat-logs></app-chat-logs>
</div>
