<div class="right">
    <h1>Tic Tac Toe</h1>
        <div align="center">
            <table align="center">
                <tr>
                    <td id="cell11" class="cell">&nbsp;</td>
                    <td id="cell12" class="cell">&nbsp;</td>
                    <td id="cell13" class="cell">&nbsp;</td>
                </tr>
                <tr>
                    <td id="cell21" class="cell">&nbsp;</td>
                    <td id="cell22" class="cell">&nbsp;</td>
                    <td id="cell23" class="cell">&nbsp;</td>
                </tr>
                <tr>
                    <td id="cell31" class="cell">&nbsp;</td>
                    <td id="cell32" class="cell">&nbsp;</td>
                    <td id="cell33" class="cell">&nbsp;</td>
                </tr>
            </table>
            <notifier-container></notifier-container>
            <br /><br />
            <input id="reset"  align="center" type="button" value="RESET" />
            <br /><br />
        </div>
</div>
<div class="right">
<app-chat [path]="gamePath"></app-chat>
<br>
<app-chat-logs></app-chat-logs>
</div>
