<div class="row">
    <div class="col-md-3">
        <h5 align="center">MEMO TEST SCORES</h5>
        <app-memo-test-scores></app-memo-test-scores>
    </div>

    <div class="col-md-3">
        <h5 align="center">ROCK PAPER SCISSORS SCORES</h5>
        <app-rock-paper-scissors-scores></app-rock-paper-scissors-scores>
    </div>

    <div class="col-md-3">
        <h5 align="center">TIC TAC TOE SCORES</h5>
        <app-tic-tac-toe-scores></app-tic-tac-toe-scores>
    </div>

    <div class="col-md-3">
        <h5 align="center">TILES SCORES</h5>
        <app-tiles-scores></app-tiles-scores>
    </div>
</div>






