<div class="row">

    <div class="col-md-3">
        <h5 align="center">HANGEDMAN SCORES</h5>
        <app-hanged-scores></app-hanged-scores>
    </div>

    <div class="col-md-3">
        <h5 align="center">HIGHER-LOWER SCORES</h5>
        <app-higher-lower-scores></app-higher-lower-scores>
    </div>

    <div class="col-md-3">
        <h5 align="center">TRIVIA SCORES</h5>
        <app-trivia-scores></app-trivia-scores>
    </div>

    <div class="col-md-3">
        <h5 align="center">TILES SCORES</h5>
        <app-tiles-scores></app-tiles-scores>
    </div>
</div>






