body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1.gameTitle{
    padding-top: 10px;
}

.gameView{
    background-color: #f2eff4
}

.gameButtons{
    cursor: pointer;
    padding: 5px;
}


.scoreH{

    font-weight: bold;

}


/*----------------------------------  
Section - Modal
------------------------------------*/
.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 20%;
    margin: 0 auto;
}
.modal-header{
    background-color:rgb(221, 221, 221);
}
.modal-content {
    overflow:hidden;
}
