<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<div class="gameView">
    <div align="center" md-col-12>
        <h1 class="gameTitle">ROCK - PAPER - SCISSORS</h1>
        <img src="../../../assets/game assets/nichijou.gif" width="300px">
            <p>Select either rock, paper, or scissors and see if you can beat the computer!</p>

            <p><strong>Remember:</strong> “Rock breaks scissors, scissors cuts paper, paper covers rock.” </p>
            <div class='score'>
                <h6 class="scoreH" >Player won matches: {{userWonMatches}} ---
                    Draw matches: {{drawMatches}} ---
                    Cpu won matches: {{pcWonMatches}} ---
                    Total matches: {{timesPlayed}}
                </h6>
                <h6 class="scoreH" >Win ratio: {{winRatio}}% ---
                    Draw ratio: {{drawRatio}}% ---
                    Lose ratio: {{loseRatio}}%
                </h6>
                <div>
                    <button (click)="saveScore()">Save My scores</button>
                </div>
            </div>
                <div class='message'>
            </div>

            <div class="gameButtons">
            <img src="../../../assets/game assets/Rock.png" (click)="play('Rock')" height="100px">
            <img src="../../../assets/game assets/Paper.png" (click)="play('Paper')" height="100px">
            <img src="../../../assets/game assets/Scissors.png" (click)="play('Scissors')" height="100px">

            <!-- Win Modal -->
            <div id="winModal" class="modal fade" role="dialog" [ngStyle]="{'display': winModalOpen ? 'block' : 'none', 'opacity': 1}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">You Win!</h4>
                            </div>
                            <div class="modal-body">

                            </div>
                        <div class="modal-footer" align="right">
                            <button type="button" id="btnClose" class="btn btn-danger" (click)="winModal(false)"><i class="fa fa-times fa-fw"></i>Close</button>
                        </div>
                        </div>
                </div>
            </div>
            <!-- Win Modal -->

            <!-- Lose Modal -->
            <div id="loseModal" class="modal fade" role="dialog" [ngStyle]="{'display': loseModalOpen ? 'block' : 'none', 'opacity': 1}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">You Lose!</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                    <div class="modal-footer" align="right">
                        <button type="button" id="btnClose" class="btn btn-danger" (click)="loseModal(false)"><i class="fa fa-times fa-fw"></i>Close</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Lose Modal -->

        <!-- Draw Modal -->
        <div id="drawModal" class="modal fade" role="dialog" [ngStyle]="{'display': drawModalOpen ? 'block' : 'none', 'opacity': 1}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">It's a Draw!</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                <div class="modal-footer" align="right">
                    <button type="button" id="btnClose" class="btn btn-danger" (click)="drawModal(false)"><i class="fa fa-times fa-fw"></i>Close</button>
                </div>
                </div>
            </div>
        </div>
        <!-- Draw Modal -->

    </div>
    <br>
    <div align="center">
        <app-chat></app-chat>
        <br>
        <app-chat-logs></app-chat-logs>
    </div>
</div>