<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.pixiv.net/en/artworks/87259392">
      <img src="../assets/Chibi.png" alt="" width="30" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/who-am-i">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/survey">Survey</a>
        </li>
      </ul>
      <form class="d-flex" *ngIf="LogInVerification('isLoggedIn') === false">
        <a class="btn btn-outline-primary me-2" routerLink='/entry/login' role="button">Login</a>
        <a class="btn btn-outline-secondary" routerLink="/entry/register" role="button">Register</a>
      </form>
      <form class="d-flex" *ngIf="LogInVerification('isLoggedIn')">
        <a class="btn btn-outline-secondary" routerLink="/entry/user-profile" role="button">My Profile</a>
        <a class="btn btn-outline-primary me-2" (click)="LogOut()" role="button">Log Out</a>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>