<div class="container">
    <div class="row justify-content center p-4">

        <div class="col md-6">
            <form [formGroup]="form">
                <h3>Yukkuri System - Registration</h3>
                <div class="form-group p-2">
                    <input type="text" name="name" class="form-control" formControlName="name" placeholder="Your Name" required>
                </div>

                <div class="form-group p-2">
                    <input type="email" name="email" class="form-control" formControlName="email" placeholder="Enter Email" required>
                </div>

                <div class="form-group p-2">
                    <input type="password" name="password" class="form-control" formControlName="password" placeholder="Enter Password" required>
                </div>
                <div class="form-group p-2">
                    <input type="password" name="confirmPassword" class="form-control" formControlName="confirmPass" placeholder="Re-enter Password" required>
                </div>
                <div class="validations" *ngIf="form.touched">
                    <span>
                        <i class="bi bi-check-circle-fill" *ngIf="form.controls.name.valid"></i>
                        <i class="bi bi-x-circle" *ngIf="form.controls.name.invalid"></i>
                        Email should be of the format "example@something.something"
                            <br>
                        <i class="bi bi-check-circle-fill" *ngIf="form.controls.confirmPass.valid"></i>
                        <i class="bi bi-x-circle" *ngIf="form.controls.confirmPass.invalid"></i>
                        Password matches
                            <br>
                        <i class="bi bi-check-circle-fill" *ngIf="form.controls.name.valid"></i>
                        <i class="bi bi-x-circle" *ngIf="form.controls.name.invalid"></i>
                        Username should be at least 4 characters long
                    </span>
                </div>
                <div class="form-group p-2">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>