<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<!-- <img src="../../../assets/bg.gif" width="100%" height="auto">

<div class="gameContainer" *ngIf="LogInVerification('isLoggedIn')">

  <div class="game1">
    <h6 class="gameLabel1">Hanged</h6>
    <a href="/games/hanged">
      <img src="../../../assets/rps.gif" width="30%" height="auto">
    </a>
  </div>

  <div class="game2">
    <h6 class="gameLabel2">higher-lower</h6>
    <a href="/games/higher-lower">
      <img src="../../../assets/tictactoe.gif" width="28.5%" height="auto" href="/games/tic-tac-toe">
    </a>
  </div>

  <div class="game3">
    <h6 class="gameLabel3">trivia</h6>
    <a href="/games/trivia">
      <img src="../../../assets/memo.gif" width="30.5%" height="auto">
    </a>
  </div>

  <div class="game4">
    <h6 class="gameLabel4">Tiles</h6>
    <a href="/games/my-game">
      <img src="../../../assets/custom.gif" width="30%" height="20px" height="auto">
    </a>
  </div>

</div>
-->

<div class="album py-5">
  <div class="container" *ngIf="LogInVerification('isLoggedIn')">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/tictactoe.gif" alt="">

          <div class="card-body">
            <p class="card-text">Use the on-screen keyboard to try and guess the hidden word</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/games/hangman">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Play Hangman</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/memo.gif" alt="">

          <div class="card-body">
            <p class="card-text">Press the buttons on screen to guess if the next card in a poker deck is higher or lower than the current one.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/games/higher-lower">
                <button type="button" class="btn btn-sm btn-outline-secondary">Play higher or lower</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/question.gif" alt="">

          <div class="card-body">
            <p class="card-text">Put your knowledge to the test!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/games/trivia">
                <button type="button" class="btn btn-sm btn-outline-secondary">Play trivia</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="../../../assets/custom.gif" alt="">

          <div class="card-body">
            <p class="card-text">Test yourself against a random shuffling puzzle of tiles!</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/games/my-game">
                <button type="button" class="btn btn-sm btn-outline-secondary">Play tiles</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
